<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillJourney - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <header>
	<h1> Welcome back, {{ current_user.username }}!</h1>
	<p> Explore your skill journey and continue your progress.</p>
    </header>
    <main>
	<section>
	    <h2>Set Goals </h2>
	</section>
    </main>
    <footer>
	<p>&copy; 2024 SkillJourney. All rights reserved.</p>
    </footer>
</body>
</html>
