<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">
    <title>SkillJourney - Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <header>
	<h1>Sign Up for SkillJourney</h1>
    </header>
    <main>
 	<form action="/sign_up" method="POST">
	    {{ form.hidden_tag() }}
	    <label for="firstname">Firstname:</label>
	    {{ form.firstname(class="form-control", placeholder="Enter firstname)
	    <label for="lastname">Lastname:</label>
	    {{ form.lastname(class="form-control", placeholder="Enter lastname)
	    <label for="username">Username:</label>
	    {{ form.username(class="form-control", placeholder="Enter username)
	    <label for="email">Email:</label>
	    {{ form.email(class="form-control", placeholder="Enter email")
	    <label for="password">Password:</label>
	    {{ form.password(class="form-control", placeholder="Enter password")
	    <label for="confirm_password">Confirm Password:</label>
	    {{ form.confirm_password(class="form-control", placeholder="Confirm password)
	    <button type="submit"class="btn btn-primary">Sign Up</button>
	</form>
	<p>Already have an account? <a href="/Login"</a>.</p>
    </main>
</body>
</html>
