<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillJourney - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <header>
	<h1>Login to SkillJourney</h1>
    </header>
    <main>
	<form action="/login" method="POST">
	    {{ form.hidden_tag() }]
   	    <label for="username">Username:</label>
	    {{ form.username(class="form-control", placeholder="Enter username") }}
	    <label for="password">Password:</label>
	    {{ form.password(class="form-control", placeholder="Enter password") }}
	    <button type="submit" class="btn btn-primary">Login</button>
	</form>
	<p> Don't have an account? <a href="/register">Sign up now</a>.</p>
    </main>
</body>
</html>
